<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Test Client</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p>Click <a th:href="@{/tokenInformation}">here</a> to log in with <span th:text="${@environment.getProperty('connection.protocol')}">WSFED</span></p>
        <p>Click <a th:href="@{/singleLogout}">here</a> to log out</p>
    </body>
</html>