<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Business Application</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<script>
			function renewSaml() {
				document.getElementById("renewSamlButton").disabled = true;
				document.getElementById("renewSamlButton").style.cursor = "progress";
				var xhr = new XMLHttpRequest();
				xhr.open("get", "/samlRenew", true);
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							location.reload();
						} else {
							alert("SAML renewal failed");
							document.getElementById("renewSamlButton").disabled = false;
							document.getElementById("renewSamlButton").style.cursor = "auto";
						}
					}
				}
				xhr.send();
			}

			function backchannelLogout() {
				var xhr = new XMLHttpRequest();
				xhr.open("get", "/backchannel-logout", true);
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							location = "/";
						} else {
							alert("backchannel logout failed");
						}
					}
				}
				xhr.send();
			}
		</script>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Business Application</a>
					<nav id="nav" th:if="${principal != null}">
						<span th:text="${principal.name}"></span>|<a th:href="@{/singleLogout}">Logout</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to the Sample Business Application<span th:if="${principal != null}">, </span>
							<span th:if="${principal != null}" th:text="${principal.name}"></span></h1>
					</header>

					<div class="flex " th:if="${principal != null}">

						<div>
							<span class="icon fa-car"></span>
							<h3>ELCA</h3>
							<p>Swiss company</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>trustID</h3>
							<p>Swiss Product</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Hosting</h3>
							<p>Switzerland</p>
						</div>

					</div>

                    <footer class="wrapper style1 align-center">
                        <div class="inner">
                            <form th:if="${principal == null}" action="/secured" method="get">
                                <div style="margin-bottom: 0.5em;">
                                    <button type="submit" class="button primary">
                                        Connect with trustID
                                    </button>
                                </div>

                                <div th:if="${protocol == 'OIDC'}" class="field half">
                                    <input type="text" name="acr_values" placeholder="Enter ACR values...">
                                </div>
                            </form>
                        </div>
                    </footer>
                </div>
			</section>

		<div th:if="${principal != null}">

		<!-- Four (token information) -->
		<footer id="footer">
			<div class="inner align-left">
				<div class="flex flex-1">
					<header>
						<h3>TOKEN INFORMATION</h3>
						<button id="renewSamlButton" type="button" style="background-color: white;" onclick="renewSaml()" th:if="${samlArtifactBinding}">Renew assertion</button>
						<br>
						<button id="backchannelLogoutButton" type="button" style="background-color: white;" onclick="backchannelLogout()">Backchannel logout</button>
					</header>
					<p><span style="white-space: pre; word-break: break-all;" th:if="${tokenInfo != null}" th:text="${tokenInfo}"></span></p>
				</div>
			</div>
		</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>