<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Business Application</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">Business Application</a>
					<nav id="nav" th:if="${principal != null}">
						<span th:text="${principal.name}"></span>|<a th:href="@{/singleLogout}">Logout</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to the Sample Business Application<span th:if="${principal != null}">, </span>
							<span th:if="${principal != null}" th:text="${principal.name}"></span></h1>
					</header>

					<div class="flex " th:if="${principal != null}">

						<div>
							<span class="icon fa-car"></span>
							<h3>ELCA</h3>
							<p>Swiss company</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Cloudtrust</h3>
							<p>Swiss Product</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Hosting</h3>
							<p>Switzerland</p>
						</div>

					</div>

					<footer>
						<a th:href="@{/secured}" class="button" th:if="${principal == null}">Connect with Cloudtrust</a>
					</footer>
				</div>
			</section>

		<div th:if="${principal != null}">
		<!-- Three -->
		<section id="three" class="wrapper align-center">
			<div class="inner">
				<div class="flex flex-2">
					<article>
						<div class="image round">
							<img src="images/pic01.jpg" alt="Pic 01" />
						</div>
						<header>
							<h3>Lorem ipsum<br /> dolor amet nullam</h3>
						</header>
						<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
					<article>
						<div class="image round">
							<img src="images/pic02.jpg" alt="Pic 02" />
						</div>
						<header>
							<h3>Sed feugiat<br /> tempus adipicsing</h3>
						</header>
						<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
						<footer>
							<a href="#" class="button">Learn More</a>
						</footer>
					</article>
				</div>
			</div>
		</section>

		<!-- Four (token information) -->
		<footer id="footer">
			<div class="inner align-left">
				<div class="flex flex-1">
					<header>
						<h3>TOKEN INFORMATION</h3>
					</header>
					<p><span style="white-space: pre; word-break: break-all;" th:if="${tokenInfo != null}" th:text="${tokenInfo}"></span></p>
				</div>
			</div>
		</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>